@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0a0a0a] text-white;
  }
}

@layer utilities {
  /* Ultra-minimal high-end scrollbar for popups */
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #0a0a0a;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 0px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #ffa116;
  }
}